/* Form Styles */

/* ******************************************************** */
/* ******************************************************** */
/* ******************************************************** */
/* ******************************************************** */
/* ******************************************************** */
/* ******************************************************** */


/* FORMS START HERE */
/* ********************************** */
/* ********************************** */
/* ********************************** */
/* ********************************** */
/* ********************************** */

/* Delete Account */



/* COPY ABOVE FOR MENU */
/* *************** */
/* *************** */
/* *************** */
/* *************** */


/* THE FORM */

form {
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 100%;
    padding: 0 3em 0 3em;
    /* margin-top: 1em; */
}

/* THE HEADER */
header {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    /* background-color: blue; */
}

.logo_name {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .5em;
    /* gap: 1em; */
}

.logo_name p {
    font-size: 2.5rem;
    /* font-size: 2rem; */
    font-weight: bold;
}



/* Users select Drop */
/* ***************** */
/* ***************** */

.users_drop_container,
.pin_number {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
}

.users_drop_container label,
.pin_number label {
    margin-bottom: 8px;
}

.users_drop_container select,
.pin_field {
    display: flex;
    width: 100%;
    gap: 8px;
    color: var(--text-color);
    font-family: 'Poppins';
}

.users_drop_container select,
.pin_field input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* padding: 10px; */
    padding: 1em;
    /* padding: .7em; */
    /* border: 1px solid #ccc; */
    border: none;
    background-color: var(--input-background);
    border-radius: 5px;
    font-size: 16px;
}

#users_dropdown, #users_dropdown option {
    font-family: 'Poppins', sans-serif;
    font-size: small;
  }

/* Custom dropdown arrow */
.users_drop_container {
    position: relative;
}

.users_drop_container::after {
    /* content: '▼';
    content: '⌄';  */
    content: '⏷';
    position: absolute;
    top: 43%;
    top: 35%;
    opacity: 50%;
    right: 20px;
    transform: translateY(20%);
    pointer-events: none;
    color: #666;
    /* color: var(--button-background); */
    /* font-size: .5em; */
    font-size: 1.3em;
}

.pin_field {
    display: flex;
    gap: 8px;
}

.pin_field input {
    flex: 1;
    text-align: center;
    max-width: 100px;
    border: none;
    height: 50px;
}





/* Pin Number Login */
/* ***************** */
/* ***************** */

.pin_number {
    display: flex;
    flex-direction: column;
    /* gap: .5em; */
    /* width: 100%; */
}

label {
    opacity: 100%;
    /* opacity: 50%; */
    color: var(--menu-text-color);

    font-size: small;
    /* font-size: medium; */
}

.pin_field {
    display: flex;
    /* gap: 1.7em; */
    gap: 1.1em;
    gap: .6em;
    width: 100%;
}

.pin_put {
    flex: 1;
    background-color: var(--input-background);
    border: none;
    color: var(--text-color);
    text-align: center;
    width: 4em;
    height: 4em;
    outline: none;
    font-size: 16px;
    max-height: 100%;
    -webkit-appearance: none;
}

/* Pin Buttons Div */
.pin_buttons {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    margin-top: .5em;
}

/* Reset Pins Button */
.reset_button {
    background: none;
    color: var(--menu-text-color);
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: small;
    /* font-weight: bold; */
}



/* Create Account Links */

.create_acct_div {
    margin-top: .5em;
    font-size: small;
    display: flex;
    justify-content: center;
    width: 100%;
}


/* Create Account Link */
.create_acct {
    text-decoration: none;
    color: var(--text-color);
    color: var(--button-background);
    /* font-weight: bold; */
    width: 100%;
    text-align: center;

}

/* Submit Button */
.submit {
    background-color: var(--button-background);
    color: white;
    border: none;
    padding: 12px;
    /* font-weight: bold; */
    cursor: pointer;
    font-size: medium;
    font-size: small;
    transition: all 0.3s ease;
    margin-top: -3em;
}

/* No outline on focus */
.submit:focus {
    outline: none;
}

 /* Submit Disabled */
 .submit:disabled {
    background-color: var(--button-background);
    color: var(--text-color);
    opacity: .6;
    cursor: not-allowed;
}

/* PINS NOTIFY DIV */
.pin_match_confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in;
    width: 100%;
    position: relative;
}

/* Match (first-child)*/
.match_ {
    display: none;
    /* opacity: 0; */
}

.match_.entered {
    opacity: 1;
    /* position: absolute; */
    display: flex;
    /* display: inline-block; */
    justify-content: center;
    align-items: center;
    color: var(--pins-match);
    color: green;
    /* background-color: var(--match-background); */
    font-size: medium;
    width: 100%;
    transition: all 0.3s ease;
}

/* No Match (last-child) */
.no_match {
    display: none;
    /* opacity: 0; */
}

.no_match.entered {
    opacity: 1;
    /* position: relative; */
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pins-no-match);
    color: red;
    /* margin-top: -1em; */
    background-color: var(--match-background);
    border-radius: 5px;
    font-size: 1rem;
    font-size: medium;
    width: 100%;
    transition: all 0.3s ease;
}

.match_, .no_match {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }

  .pin_match {
    width: 1.5em;
    height: 1.5em;
  }

  

/* For wider screens narrow the form */

/* Landscape */
@media screen and (min-width: 700px) {
    form {
        width: 50%;
        gap: 1em;
    }
}



@media screen and (min-width: 1600px) {
    form {
        width: 20%;
    }
}